* {
  font-family: "Poppins";
}

html {
  height: 100%;

  body {
    background-color: whitesmoke;
    box-sizing: border-box;
    p,
    h1,
    h2,
    h3,
    ul,
    span,
    label,
    li {
      cursor: default;
    }
    input[type="text"],
    textarea {
      border: 1px solid #999;
      border-radius: 5px;
    }
    button {
      cursor: pointer;
      border-radius: 5px;
      border-style: none;
    }
    select {
      border-radius: 5px;
    }
  }

  // .gridContainer {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: min-content min-content repeat(3, 1fr) min-content;
  //   height: 100vh;
  //   margin: auto;
  //   overflow: hidden;
  // }
}
